.b1 { border:1px solid red!important; }

.mbr-arrow {
  background-color: rgba(80, 80, 80, 0.3);
}


.vdo-1 {
    border: 1px solid #ddd;
    box-shadow: 0 10px 13px #eee;
    padding: 0 !important;
    margin: 30px 510px 0 0px;
}


.vdo-2 {
  border: 1px solid #fff;
  box-shadow: 0 10px 13px #15690b;
  padding: 0 !important;
}

.p30 {
  padding: 30px 0 0 !important;
}

.mt-text-form { margin: 10px 0 20px;  }

.g-check {
  border: 0 solid red;
  float: left;
  width: 25%;
}
.g-check input {
  float: left;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  left: -9999px;
  position: absolute;
}
[type="checkbox"]:not(:checked) + label::before, [type="checkbox"]:checked + label::before {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  content: "";
  height: 2.25em;
  left: 0;
  position: absolute;
  top: 0;
  width: 2.25em;
}
[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:not(:checked) + label::after, [type="checkbox"]:checked + label::after {
  color: #09ad7e;
  content: "✔";
  font-size: 1.3em;
  left: 0.4em;
  line-height: 0.8;
  position: absolute;
  top: 0.5em;
  transition: all 0.2s ease 0s;
}
[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  color: white;
  cursor: pointer;
  line-height: 34px;
  padding-left: 2.95em;
  position: relative;
}
.g-check label {
  float: left;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
.g-check {
    width: 50%;
}
}

.g-btn-2 {
 
}
.g-btn-2 a {
	 background-color: white;
  border: 1px solid gray;
  border-radius: 23px;
  color:#012265 !important;
  cursor: pointer  ;
  font-size: 14px;
  font-weight: bold !important;
  letter-spacing: 0.6px;
  margin: 0 auto;
  padding: 10px 20px !important;
  text-transform: uppercase;
  width: 240px;
  font-weight: bold !important;
}
.g-btn-2 a:hover {
 background-color: #012265; color:white !important;
}

.g-uswd p { padding: 0px; color: :white !important; font-size: 16px;  }
.g-uswd a { color: white;   }
.g-uswd span { color: #f11625;  }
.g-imgpdf img { border: 2px solid white;   }
.g-uswd span {
  color: #ff4d5a !important;
  font-size: 25px;
}
.g-uswd h5 a {
  background-color: #ff4d5a;
  border-radius: 25px;
  float: left;
  font-size: 17px;
  font-weight: bold;
  margin: 9px 0 0;
  padding: 12px 38px 18px;
}

.g-weblink-01 {
  border: 0px solid;
  padding: 50px 0px 0px 0px;
  text-align: center !important;
}

.g-weblink-01 a {
  background-color: black;
  border-radius: 30px;
  float: none;
  margin: 10px 0px 4px 0px;
  padding: 14px 60px;
}

.g-weblink-03 {
  color: black;
  font-size: 17px;
  font-weight: 600;
}

.g-weblink-02 h6 a {
  background-color: #5ccbfa;
  border-radius: 17px;
  font-size: 16px;
  padding: 8px 21px 9px 23px;
  margin: 0 0 6px 0;
  float: left;
  /* width: 100%; */
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: white;
}

.g-parah-text-01 {   }

.g-parah-text-01 {
  font-size: 16px;
}
.text-caps { text-transform: uppercase;  }

.cid-qvEwVzWE8y .form-group label {
  font-size: 16px;
}
.cfp_02 { font-size: 20px; margin: 0 0 30px 0;  font-weight: 700;}
.cf_05 { border: 0px solid; text-align: center; }
.auless_02 { font-size: 20px; margin: 0 0 30px 0;  font-weight: 700;}
.credit_enh {   font-size: 20px; }
.web-center-cfp {
  margin: 7px auto 0px;
  width: 100%;
  float: none;
  border: 0px solid;
  text-align: center !important;
}
.a4btncenter {
  border: 0px solid red;
  width: ;
  margin: 10px auto 0;
  text-align: center;
  float: none;
}
.a4btncenter a {
  border-radius: 39px;
}
.credit_pfuncingsite {
    border: 0px solid red;
    text-align: center;
}

.seven_01 {border: 0px dashed red; overflow: hidden; text-align: center;}
.seven_01 a { color: black; font-size: 15px;  }
.seven_01 p { color: black; font-size: 15px;  }
.seven_01_img { float: left; width: 49%; border: 0px dotted orange;  }
.seven_01_audio { float: left; width: 49%; border: 0px dotted green;  }
.seven_img_text { border: 0px solid red;  }